<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div>
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>제목</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post:${posts}"><!--th:each이면 loop 돌명서 데이터 꺼내는 것-->
                    <td th:text="${post.id}"></td>
                    <td><a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>